In [2]:
import pandas as pd
import numpy as np

rec_df = pd.read_csv('rec_song.csv')

In [14]:
rec_df['artists'].value_counts()[:11].to_frame()

                                   artists
ElvisPresley                             1
MilesDavisJohnColtrane                   1
CharlieParker                            1
JavierSols                               1
BlossomDearie                            1
DorisDayPaulWestonAndHisOrchestra        1
CarlPerkins                              1
Avicii                                   1

In [18]:

df1 = rec_df['artists'].value_counts()[:11].to_frame()
df1['Name'] = df1.index
df1.rename(columns={'artists': 'Songs'}, inplace=True)

In [19]:
df1

                                   Songs                               Name
ElvisPresley                           1                       ElvisPresley
MilesDavisJohnColtrane                 1             MilesDavisJohnColtrane
CharlieParker                          1                      CharlieParker
JavierSols                             1                         JavierSols
BlossomDearie                          1                      BlossomDearie
DorisDayPaulWestonAndHisOrchestra      1  DorisDayPaulWestonAndHisOrchestra
CarlPerkins                            1                        CarlPerkins
Avicii                                 1                             Avicii